{% extends "auth/auth_base" %}


{% block head %}
	<title>Sign Up | Teemboom Comments</title>
{% endblock %}


{% block body %}
	<header id='form_header'>Sign Up</header>
	<form action='/signup' method='POST'>
		<div>
			<p>Email</p>
			<input name='email' placeholder='Enter your email' value='{{email}}' type='email' required>
		</div>
		<div>
			<p>Password</p>
			<input name='password' placeholder='Enter your password' type='password' required>
		</div>
		<div>
			<p>Confirm Password</p>
			<input name='password2' placeholder='Enter your password' type='password' required>
		</div>
		{% if error %}
		<div id='error'>
			<h6>{{error}}</h6>
		</div>
		{% endif %}
		<div>
			<button type='submit'>Sign Up</button>
		</div>
		<a id='redirect' href='/login'>Already Have An Account - Login</a>
	</form>
{% endblock %}
